.create-task {
  margin-bottom: 80px;
  min-height: 300px;
  width: 900px;
  border-radius: 20px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
}

.button-container {
  margin-top: auto;
  margin-bottom: 2rem;
  width: fit-content;
}

.subtasks-container {
  display: none;
  margin-bottom: 20px;
}
/* #done{
    margin-left: auto;
} */
.task,
.create-sub-task {
  display: flex;
  flex-direction: row;
  margin-top: 10px;
}
.create-sub-task {
  margin-left: 2rem;
  width: 28rem;
}
.delete-button {
  margin-left: auto;
}
:checked + div {
  text-decoration: line-through;
}
.tasks-list input[type="checkbox"] {
  visibility: hidden;
}
.task:hover > input,
.create-sub-task:hover > input {
  visibility: visible;
}
.heading {
  font-size: 1.17em;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-right: 1em;
  font-weight: bold;
}
.main-task {
  width: 30rem;
  margin-top: 20px;
  border-style: solid;
  padding: 10px;
  border-radius: 10px;
  margin-left: 20px;
}
.main-task:hover {
  background-color: blanchedalmond;
}
.add-more-button {
  display: none;
}
/* .add-more-button:last-of-type{
    visibility: visible;
} */
/* .add-sub-task:last-child > .add-more-button {
  /* background-color: #000; 
  display: initial;
} */
input[type="text"] {
  width: 35rem;
  height: 2rem;
  margin-right: 5px;
  border-style: solid;
  border-color: black;
  border-radius: 5px;
  outline: none;
  content: "Hi";
}
input[type="text"]:focus::placeholder {
  color: transparent;
}
.add-main-task,
.add-sub-task {
  margin-top: 10px;
}
.add-sub-task {
  margin-left: 2rem;
}
.tasks-list{
  display: flex;
  flex-wrap: wrap;

}
